body {
    margin: 0 auto;
    font-family: 'Nanum Myeongjo', serif;
}

header {
    display: flex;
    justify-content: space-between;
    background: #ffb6c1;
    margin-bottom: 10px;
    margin-top: 0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav a {
    padding: 20px;
}

nav {
    padding-top: 30px;
}


a {
    color: black;
}

a:hover {
    color: black;
}

h1 {
    font-family: 'Give You Glory', cursive;
    padding: 20px 20px 10px 20px;
}

#first-section {
    margin-top: 90px;
}

h2{
    font-family: 'Give You Glory', cursive;
    padding: 15px;
}

.aboutme {
    display: flex;
    justify-content: center;
}

img {
    padding: 15px;
}

.mainsection {
    border: 1px solid;

}

p .experiencestext {
    width: 75%;
}

img {
    height: 150px;
    width: 200px;
}

.work-examples {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.examples {
    border: 1px dotted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    text-align: center;
    margin: 0 auto;
}

h2,
h3 {
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 20px;
}

form {
    width: 500px;
    padding: 15px;
    cursor: pointer;

}

input {
    width: 500px;
}

input[type=text] {
    opacity: .7;
}

input[name="message"] {
    height: 200px;
}

footer {
    padding-top: 20px;
}